<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        scope:
            singleton: 单例模式
            prototype: 原型模式：每次生成新对象
     -->
    <bean id="user1" class="com.jimmy.user.User" scope="singleton">
        <property name="name" value="jimmy"/>
        <property name="password" value="qq123456"/>
    </bean>
</beans>